{% extends "base.html" %}

{% block content %}

<div class="container text-center mt-4">
    <h1>Today's Reservations</h1>
</div>

<div class="container text-center mt-4">
{% for reservation in reservation_list %}
    <p>Name: {{ reservation.name }}</p>
    <p>Date: {{ reservation.date }}</p>
    <p>Phone Number: {{ reservation.phone }}</p>
    <p>Number of people: {{ reservation.numberofpeople }}</p>
    <p>Reservation reference: {{ reservation.reservation_code }}</p>
    <br>
{% endfor %}
</div>
{% endblock %}