{% extends "base.html" %}
{% block content %}

<div class="container mt-2">
    <h1>Your reservations is confirmed</h1>
    <ul class="list-unstyled p-3">
        <li>Name: {{ form_data.name_client }}</li>
        <li>Phone: {{ form_data.phonenumber_client }}</li>
        <li>Email: {{ form_data.email_client }}</li>
        <li>Number of people: {{ form_data.numberofpeople }}</li>
        <li>Date for the reservation : {{ form_data.date_reservation }}</li>
        <li>Reservation Reference: {{ form_data.reservation_code }} </li>
    </ul>
</div>

{% endblock %}