{% extends "base.html" %}

{% block content %}
<div class="container mt-2">
    <div class="text-center">
        <ul class="list-unstyled p-3"> 
            <li class="m-1">Telephone: +3532312313</li>
            <li class="m-1">mail: info@alfresco.com</li>
            <li class="m-1">Address: 123 Street High</li>
            <li class="m-1">Dublin6</li> 
            <li class="m-1">Dublin</li> 
        </ul> 
    </div>
    <div class="container" >
        <div>
            <img src="https://res.cloudinary.com/doufojxse/image/upload/v1659434135/media/alfrescomap_h5dbkl.png" class="img-fluid rounded" alt="Map to the restaurant">
        </div>
    </div>
</div>

{% endblock %}