{% extends "base.html" %}

{% block content %}
<div class="m-4">
  <div class="container-fluid">
    <p class="text-center fw-bold">
        Alfresco a Mediterrean food experience
    </p>
  </div>
</div>
<div class="container">
  <div id="carousel-container" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="https://res.cloudinary.com/doufojxse/image/upload/v1659534808/media/spanish-tapas-platter_itahkz.jpg" class="d-block w-100" alt="Food Picture">
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <img src="https://res.cloudinary.com/doufojxse/image/upload/v1666461117/media/home-carusel.jpg" class="d-block w-100" alt="Food Picture">
        </div>
      </div>
    </div>

  <div class="container-fluid mt-5 ">
      <p class="text-center fw-bold">
          Try our on seasonals dishes
      </p>
    
  </div>
</div>

{% endblock %}