{% extends "base.html" %}

{% block content%}

<div class="container-fluid vh-50">
    <div class="row d-flex mt-3">
        <div class="col-12 text-center">
            <h2 class="menu-font">Dinner Menu</h2>
        </div>
    </div>
    <div class="row d-flex mt-3">
        <div class="col-12 text-center">
            <p>Paella - Traditional Spanish rice dish </p>
            <p>Albóndigas - Meatballs in tomato sauce</p>
            <p>Calamares a la Andaluza - Strips of squid in seasoned flour with Alioli</p>
            <p>Pulpo a la gallega - Galician style octopus with potatoes, paprika & olive oil</p>
            <p>Tortilla Española - Traditional potato & onion omelette</p>
            <p>Carrillada de cerdo - Marinated pigs' cheeks in secret sauce</p>
        </div>
    </div>
</div>

{% endblock%}