{% extends "base.html" %}

{% block content %}
   
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Make Reservation">
    </form>

    <form action="{% url 'search_reservation' %}" method=POST>

        {% csrf_token %}
        
        <input type="search" placeholder="Reservation Code" name="searched"> 
        <button type="submit">Search</button>

    </form>

    <div>
        {% for message in messages %}
            {{ message }}
        {% endfor%}
    </div>

{% endblock %}