{% extends "base.html" %}

{% block content %}
<div class="container mt-2 p-2" >
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="Make Reservation">
    </form>
</div>

<div class="cointainer p-2">
<form class="form-control" action="{% url 'search_reservation' %}" method=POST>
    {% csrf_token %}
    <div class="row align-items-center">
    <div class="col">
        <input type="search" placeholder="Reservation Code" name="searched"> 
    </div>
    <div class="col">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
    </div>
</form>

<div>
    {% for message in messages %}
        {{ message }}
    {% endfor%}
</div>
</div>
{% endblock %}