{% extends "base.html" %}

{% block content %}

    
    <h1>Your reservation :</h1>

    <ul> Name: {{ reservation.name }}</ul>
    <ul> Phone: {{ reservation.phone }}</ul>
    <ul> Email: {{ reservation.email }}</ul>
    <ul> Number of people: {{ reservation.numberofpeople }}</ul>
    <ul> Date for the reservation : {{ reservation.date }}</ul>
    <ul> Reservation Reference: {{ reservation.reservation_code }} </ul>


    <a href="{% url 'delete_reservation' reservation.reservation_code %}">Delete</a>
    <a href="{% url 'update_reservation' reservation.reservation_code %}">Update</a>

{% endblock %}